.inputbox{
  margin: auto;
  height: 400px;
  width: 500px;
  background-color: rgba(255,255,255,0.65);
  border-radius: 10px;
  padding: 30px;
  border: solid white 1px;
}
.container{

}
.heading{
  font-size: 30px;
  color: white;
  text-align: center;
}
.subheading{
  font-size: 10px;
  color: #625F5F;
  text-align: center;
  padding-bottom: 15px;
}
.button-container{
  top: 200px;
  position: relative;
  text-align: center;
}
.button-container2{
  top: 50px;
  position: relative;
  text-align: center;
}
.button-left {
    width: 10%;
}
.button-right {
    width: 10%;
}
#pageNumber{
  color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    height:155px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: 10px;
    overflow-y: auto;
    white-space: nowrap;
    border-radius: 10px;
}
.dropdown-content a {
    color: #625F5F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.reasonBar #reason{
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 100%;
}
.attribute{
  font-size: 20px;
  margin-top: 30px;
  color: #625F5F;
}
#ageButton{
  margin-left: 20px;
  margin-top: 30px;
  width: 20px;
}
form {
  margin-top: 32px;
  margin-left: 20px;
}
.btn-secondary {
  color: #D3D3D3;
  background-color: rgba(255,255,255,1);
  border-color: #D3D3D3;
  border-radius: 10px;
}
.btn-secondary:hover{
  color: white;
  background-color: rgba(244,121,113,1);
  border-color: white;
  border-radius: 10px;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(244,121,113,0.5);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgba(244,121,113,1);
    border-color:  #fff;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    /* box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5); */
}
.form-check-input2{
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}
#submitInfo {
  width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  color:white;
  border-color: white;
  border-radius: 10px;
}
