<!DOCTYPE html>
<html ng-app="inputForm">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="img/releaf_thumbnail.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="stylesheet" href="css/signup.css">
  <title>Releaf</title>
</head>
<body>
</body>
  <div class="bg">
    <img class="logo" src="img/releaf_logo-01.png">

  </div>
</div>
    <!-- <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" /> -->
</html>
