<!DOCTYPE html>
<html ng-app="inputForm">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>MongoChat</title>
</head>
<body>
</body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
    <h1 class="text-center">Releaf Now!</h1>
    <input type="text" id="age" class="form-control" placeholder="Enter age...">
    <input type="text" id="gender" class="form-control" placeholder="Enter gender...">
    <input type="text" id="profession" class="form-control" placeholder="Enter profession...">
    <input type="text" id="ethnicity" class="form-control" placeholder="Enter ethnicity...">
    <input type="text" id="maritalStatus" class="form-control" placeholder="Enter maritalStatus...">
    <a href="chatBox.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Start Matching</a>
  </div>
</div>
</div>
    <!-- <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" />
    <input ng-model="users.lastName" id="last" pattern="^[a-zA-Z_ ]*$" oninvalid="setCustomValidity('Please enter letters only')" name="user[lastName]" type="text" placeholder="Last Name" autofocus="autofocus" required="required" class="input pass" /> -->
</html>
