<div class="heading">Get Started 1/2</div>
<div class="subheading">Thanks for coming to our page! What brings you here</div>
<div class="inputbox">
  <h2 class="title">Reason</h2>
  <div class="reasonBar">
  <input ng-model="user.reason" id="reason" name="user[reason]" type="text" placeholder="Click to begin..." />
  <div class="dropdown-content" ng-model="user.month">
      <a id="option1">{{option1}}</a>
      <a id="option2">{{option2}}</a>
      <a id="option3">{{option3}}</a>
      <a id="option4">{{option4}}</a>
      <a id="option5">{{option5}}</a>
      <a id="option6">{{option6}}</a>
      <a id="option7">{{option7}}</a>
  </div>
</div>
  <div class="button-container">
    <img class="button-left" src="../img/releaf_buttons-03.png"></img>
    <img class="button-right" src="../img/releaf_buttons-04.png"></img>
    <p id="pageNumber">Page 1 of 2</p>
</div>

</div>
